.separate {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .separate .left {
    width: 50%; }
  .separate .right {
    width: 50%; }

#projects {
  font-family: 'Roboto', sans-serif;
  background: #f1f1f1;
  padding-top: 20px; }
  #projects h3 {
    color: #737e89;
    font-weight: 300;
    width: 85%;
    margin: 0 auto;
    margin-top: 40px; }
    #projects h3 span {
      margin-left: 20px; }
      #projects h3 span a {
        font-size: 18px !important;
        padding-left: 15px;
        border-left: 1px dotted rgba(124, 124, 124, 0.21); }
  #projects .swiper-slide {
    background: white;
    padding-bottom: 30px; }
    #projects .swiper-slide h4 {
      color: black;
      font-weight: 300; }
    #projects .swiper-slide h6 {
      color: #61676c;
      font-size: 14px;
      font-weight: 100 !important; }
    #projects .swiper-slide button {
      color: #2aa0ef;
      border-color: rgba(42, 160, 239, 0.28);
      padding: 10px 12px; }

.frame {
  padding: 0 80px; }

#analysis {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 40px 80px; }
  #analysis .left h1 {
    font-size: 50px;
    font-weight: 100;
    color: #1b5083;
    margin: 0;
    line-height: 100%; }
  #analysis .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #analysis .right .content {
      color: #6f7070;
      font-size: 16px;
      width: 40%;
      font-weight: 100; }
    #analysis .right .button {
      width: 60%; }
      #analysis .right .button button {
        margin-left: 40px;
        background: #2aa0ef;
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 300; }
        #analysis .right .button button i {
          padding-right: 10px; }
      #analysis .right .button button:hover {
        background: #4b7bc2; }

#open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #f1f1f1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #open .right {
    width: 45%;
    padding-right: 80px;
    font-family: Roboto; }
    #open .right h4 {
      font-size: 24px !important;
      font-weight: 300;
      line-height: 36px; }
    #open .right button {
      background: orange;
      border: none;
      color: white;
      font-size: 24px;
      font-weight: 300;
      padding: 12px 20px;
      margin-top: 40px; }
    #open .right button:hover {
      background: #ff6e00; }

#static {
  padding: 40px 80px;
  font-family: Roboto; }
  #static .left img {
    width: 100%;
    margin-bottom: 10px; }
  #static .left p {
    padding-left: 5px; }
  #static .left .items {
    margin-bottom: 50px;
    padding: 5px;
    border: 1px solid #efefef; }
  #static .right {
    width: 45%; }
    #static .right .items {
      margin-bottom: 50px; }
      #static .right .items h2 {
        color: #1b5083;
        font-weight: 300; }
      #static .right .items p {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px; }
    #static .right .data {
      padding: 20px 0;
      border-top: 1px solid #efefef; }
      #static .right .data h1 {
        font-size: 42px;
        font-weight: 100;
        position: relative;
        padding-left: 67px; }
        #static .right .data h1 i {
          color: #abc3d3;
          padding-right: 20px;
          width: 42px !important;
          position: absolute; }
  #static .quote {
    padding: 60px;
    padding-bottom: 40px;
    border: 2px solid rgba(241, 241, 241, 0.49);
    margin-top: 20px; }
    #static .quote h3 {
      color: #cacaca;
      font-size: 20px;
      margin-top: 0; }
    #static .quote p {
      font-weight: 300;
      font-size: 16px;
      line-height: 25px; }

#button {
  font-family: Roboto;
  position: relative;
  height: 120px;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #efefef; }
  #button a {
    position: absolute; }
    #button a button {
      border: 1px solid #efefef;
      font-size: 17px;
      color: #2aa0ef;
      font-weight: 300;
      padding: 10px 13px; }
    #button a button:hover {
      background: #4b7bc2;
      color: white; }
  #button .mid {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #button .right {
    right: 80px; }

#sign {
  background: #5aafe1;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px; }
  #sign h1 {
    font-size: 27px;
    margin-top: 0; }
    #sign h1 span {
      font-size: 47px;
      padding-right: 10px; }
  #sign .left {
    width: 40%; }
  #sign .right {
    width: 60%; }
    #sign .right button {
      background: white;
      color: #4d7dc0;
      border: none;
      font-size: 18px;
      padding: 12px 20px; }
    #sign .right input {
      height: 50px;
      color: white;
      width: 100%;
      background: transparent; }
    #sign .right ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: white; }
    #sign .right :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: white;
      opacity: 1; }
    #sign .right ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: white;
      opacity: 1; }
    #sign .right :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white; }
    #sign .right ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white; }

@media only screen and (max-width: 768px) {
  .frame {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  #analysis .right .content {
    width: 100% !important; }
  #analysis .right .button {
    width: 100% !important; }
    #analysis .right .button button {
      margin-left: 0 !important; }
  #button a.right {
    right: 15px; } }

@media only screen and (max-width: 767px) {
  .separate .left {
    width: 100% !important; }
  .separate .right {
    width: 100% !important; } }

@media only screen and (max-width: 480px) {
  #open .right {
    text-align: center;
    padding: 0 15px; }
  #analysis {
    text-align: center; }
    #analysis button {
      margin-top: 10px; }
    #analysis .content {
      margin-top: 10px; } }

@media only screen and (max-width: 360px) {
  #open .left {
    padding: 0 15px; }
    #open .left img {
      width: 100%; }
  #static .quote {
    padding: 30px 15px; }
  #projects h3 {
    font-size: 22px; }
  #button button {
    font-size: 12px !important;
    padding: 10px !important; } }
