.separate{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    .left{
        width: 50%;
    }
    .right{
        width: 50%;
    }
}
#projects{
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
    padding-top: 20px;
    h3{
        color: rgb(115, 126, 137);
        font-weight: 300;
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        span{
            margin-left: 20px;
            a{
                font-size: 18px !important;
                padding-left: 15px;
                border-left: 1px dotted rgba(124, 124, 124, 0.21) ;
            }
        }
    }

    .swiper-slide{
        background: white;
        padding-bottom: 30px;
        h4{
            color: black;
            font-weight: 300;
        }
        h6{
            color: rgb(97, 103, 108);
            font-size: 14px;
            font-weight: 100 !important;
        }
        button{
            color: rgb(42, 160, 239);
            border-color: rgba(42, 160, 239, 0.28);
            padding: 10px 12px;
        }
    }
}
.frame{
    padding: 0 80px;
}

#analysis{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;   
    overflow: hidden;
    padding: 40px 80px;
    .left{
        h1{
            font-size: 50px;
            font-weight: 100;
            color: rgb(27, 80, 131);
            margin: 0;
            line-height: 100%;
        }
    }
    .right{
        display: flex;
        flex-wrap: wrap;
        .content{
            color: rgb(111, 112, 112);
            font-size: 16px;
            width: 40%;
            font-weight: 100;
        }
        .button{
            width: 60%;
            
            button{
                margin-left: 40px;
                background: rgb(42, 160, 239);
                border: none;
                color: white;
                padding: 10px 20px;
                font-size: 20px;
                font-weight: 300;
                i{
                    padding-right: 10px;
                }
            }
            button:hover{
                background: #4b7bc2;
            }
        }
    }
}

#open{
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
    background: rgb(241, 241, 241);
    justify-content: space-between;
    .left{
    }
    .right{
        width: 45%;
        padding-right: 80px;
        font-family: Roboto;
        h4{
            font-size: 24px !important;
            font-weight: 300;
            line-height: 36px;
            
        }
        button{
            background: rgb(255, 165, 0);
            border: none;
            color: white;
            font-size: 24px;
            font-weight: 300;
            padding: 12px 20px;
            margin-top: 40px;
        }
        button:hover{
            background: rgb(255, 110, 0);
            
            
        }
    }
}

#static{
    padding: 40px 80px;
    font-family: Roboto;
    .left{
        img{
            width: 100%;
            margin-bottom: 10px;
        }
        p{
            padding-left: 5px;
        }
        .items{
            margin-bottom: 50px;
            padding: 5px;
            border: 1px solid #efefef;
        }
    }
    .right{
        width: 45%;
        .items{
            h2{
                color: rgb(27, 80, 131);
                font-weight: 300;
            }
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 25px;
            }
            margin-bottom: 50px;
            
        }
        .data{
            padding: 20px 0;
            border-top: 1px solid #efefef;
            h1{
                font-size: 42px;
                font-weight: 100;
                position: relative;
                padding-left: 67px;
                i{
                    color: rgb(171, 195, 211);
                    padding-right: 20px;
                    width: 42px !important;
                    position: absolute;
                }
            }
        }
    }
    .quote{
        padding: 60px;
        padding-bottom: 40px;
        border: 2px solid rgba(241, 241, 241, 0.49);
        margin-top: 20px;
        h3{
            color: rgb(202, 202, 202);
            font-size: 20px;
            margin-top: 0;
        }
        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

#button{
    font-family: Roboto;
    position: relative;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #efefef;
    a{
        position: absolute;
        button{
            border: 1px solid #efefef;
            font-size: 17px;
            color: rgb(42, 160, 239);
            font-weight: 300;
            padding: 10px 13px;
            
        }
        button:hover{
            background: #4b7bc2;
            color: white;
        }
    }
    .left{
        
    }
    .mid{
        left: 50%;
        transform: translateX(-50%);
    }
    .right{
        right: 80px;
    }
}

#sign{
    background: rgb(90, 175, 225);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    h1{
        font-size: 27px;
        margin-top: 0;
        span{
            font-size: 47px;
            padding-right: 10px;
        }
    }
    .left{
        width: 40%;
    }
    .right{
        width: 60%;
        button{
            background: white;
            color:rgb(77, 125, 192);
            border: none;
            font-size: 18px;
            padding: 12px 20px;
        }
        input{
            height: 50px;
            color: white;
            width: 100%;
            background: transparent;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: white;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: white;
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: white;
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: white;
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
           color: white;
        }
    }
}
@media only screen and (max-width:991px){}
@media only screen and (max-width:768px){
    .frame{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    #analysis {
        .right{
            .content{
                width: 100% !important;
            }
            .button{
                width: 100% !important;
                button{
                    margin-left: 0 !important;
                }
            }
        }
    }
    #button{
        a.right{
            right: 15px;
        }
    }
}
@media only screen and (max-width:767px){
    .separate{
        .left{
            width:100% !important;
        }
        .right{
            width: 100% !important;
        }
    }

}
@media only screen and (max-width:480px){
    #open{
        .right{
            text-align: center;
            padding: 0 15px;
        }
        
    }
    
    #analysis{
        text-align: center;
        button{
            margin-top: 10px;
        }
        .content{
            margin-top: 10px;
        }
    }
}
@media only screen and (max-width:360px){
    #open{
        .left{
            padding: 0 15px;
            img{
                width: 100%;
            }
        }
    }
    #static{
        .quote{
            padding: 30px 15px;
        }
    }
    #projects{
        h3{
            font-size: 22px;
        }
    }
    #button{
        button{
            font-size: 12px !important;
            padding: 10px !important;
        }
    }
}
@media only screen and (max-width:320px){}