hr{
    padding: 20px 0;
}
#contact{
    .content{
        width: 30%;
        float: left;
        padding-right: 30px;
    }
    .map{
        width: 70%;
        float: left;
        
    }
    h4{
        color: rgb(144, 177, 28);
        font-size: 28px;    
    }
    ul{
        list-style: none;
        li{   
            i{
                width: 30px;
            }
            span{
                font-size: 24px;
            }
            font-size: 20px;
            p{
                padding-left: 30px;
                font-size: 14px;
                color: rgb(209, 209, 209);
            }
        }
    }
    .hcm{
        padding-top: 100px;
        
        border-top: 1px solid 1px solid #eee;
        .map{
            padding-bottom: 100px;
        }
    }
}
@media only screen and (max-width:991px){
    iframe{
        width: 500px;
        padding-left: 80px;
    }
}
@media only screen and (max-width:768px){
    #contact{
        h4{
            padding-left: 30px !important;
        }
    }
}
@media only screen and (max-width:480px){
    .content{
        width: 100% !important;
    }
    .map{
        width: 100% !important;
        iframe{
            padding-left: 0 !important;
            width: 80%;
            margin: 0 10%;
        }
    }
}
@media only screen and (max-width:360px){}