hr {
  padding: 20px 0; }

#contact .content {
  width: 30%;
  float: left;
  padding-right: 30px; }

#contact .map {
  width: 70%;
  float: left; }

#contact h4 {
  color: #90b11c;
  font-size: 28px; }

#contact ul {
  list-style: none; }
  #contact ul li {
    font-size: 20px; }
    #contact ul li i {
      width: 30px; }
    #contact ul li span {
      font-size: 24px; }
    #contact ul li p {
      padding-left: 30px;
      font-size: 14px;
      color: #d1d1d1; }

#contact .hcm {
  padding-top: 100px;
  border-top: 1px solid 1px solid #eee; }
  #contact .hcm .map {
    padding-bottom: 100px; }

@media only screen and (max-width: 991px) {
  iframe {
    width: 500px;
    padding-left: 80px; } }

@media only screen and (max-width: 768px) {
  #contact h4 {
    padding-left: 30px !important; } }

@media only screen and (max-width: 480px) {
  .content {
    width: 100% !important; }
  .map {
    width: 100% !important; }
    .map iframe {
      padding-left: 0 !important;
      width: 80%;
      margin: 0 10%; } }
