#projects{
    background: rgb(241, 241, 241);
    h3{
        width: 85%;
        margin: 0 auto;
        padding-top: 40px;
        color: rgb(115, 126, 137);
    }
}

.frame{
    padding: 40px 80px;
}
#case{
    display: flex;
    font-family: Roboto;
    flex-wrap:wrap;
    color: white;
    background: rgb(0, 194, 205);
    justify-content: space-between;
    .left{
        width: 60%;
        h1{
            font-weight: 200;
            font-size: 66px;
        }
        h4{
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
        }
    }
    .right{
        text-align: center;
        width: 40%;
    }
}
#case{
    .size{
        flex-wrap: wrap;
    }
    .left{
        width: 100%;
        text-align: center;
    }
    .right{
        width: 100%;
    }
}