#projects {
  background: #f1f1f1; }
  #projects h3 {
    width: 85%;
    margin: 0 auto;
    padding-top: 40px;
    color: #737e89; }

.frame {
  padding: 40px 80px; }

#case {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
  background: #00c2cd;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #case .left {
    width: 60%; }
    #case .left h1 {
      font-weight: 200;
      font-size: 66px; }
    #case .left h4 {
      font-weight: 300;
      font-size: 24px;
      line-height: 36px; }
  #case .right {
    text-align: center;
    width: 40%; }

#case .size {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#case .left {
  width: 100%;
  text-align: center; }

#case .right {
  width: 100%; }
