*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
#substitute{
    height: 70px;
//    display: none;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    padding: 0 80px;
    height: 60px !important;
    background: white;
    .navbar{
        border-radius: 0 !important;
    }
    a.navbar-brand{
        padding: 0;
        img{
            height: 40px;
            padding-left: 15px;
        }
    }
    .collapse{
        height: 60px !important;
        ul{
            padding-top: 0 !important;
            li{
                a{height: 60px !important;}
            }
        }
    }
}
body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif; 
}
h3{
    color: rgb(27, 80, 131);
    font-size: 30px;
    margin-bottom: 30px;
}
h5{
    margin: 0;
}
#menu{
    #info{
        position: relative;
        height: 30px;
        background: #1a4c7c;
        color: white;
        i{
            padding-right: 15px;
        }
        .info-left{
            float: left;
            height: 30px;
            h5{
                line-height: 30px;
                font-size: 15px;
                padding-left: 35px;
            }
        }//.info-left
        .info-right{
            float: right;
            height: 30px;
            padding-right: 20px;
            ul{
                
                li{
                    display: inline;
                    line-height: 30px;
                    padding: 7px 0;
                    padding-right: 10px;
                    i{
                        padding-left: 10px;
                        border-left:1px solid rgba(187, 169, 169, 0.34);
                    }
                    a{
                        color: white;
                    }
                }//li
                
                
            }//ul
        }//.infor-right
    }//#info
    #bar{
        height: 80px;
        nav{
            background: white;
            border: none;
            border-radius: none;
            button{
                border: none;
                span{
                    font-size: 12px !important;
                }
            }
            button:hover,button:focus{
                background: white;
            }
            a.navbar-brand{
                padding:10px;
            }
            .navbar-collapse {
                overflow-y: visible !important;
                
                transition: 0.7s all;
                ul{
                    padding-top: 16px;
                    li{
                        .dropdown-parent{
                            height: 64px;
                            
                            .dropdown-items{
                                transition: 0.4s all;
                                
                                .dropdown-child{
                                    border-radius: 5px !important;
                                    padding: 20px;
                                    transform: translateY(100px);
                                    box-shadow: 0px 4px 13px -3px #808080;
                                    background: white;
                                    
                                    .child{
                                        color: #909497;
                                        
                                        p{
                                            font-size: 13px;
                                            font-weight: 100;
                                        }
                                        h4{
                                            color: black;
                                            font-weight: 400;
                                        }
                                        h5{
                                            color: black;
                                            font-size: 21px;
                                            padding-top: 8px;
                                        }
                                        h3{
                                            font-size: 17px;
                                            color: rgba(2, 11, 18, 0.63);
                                            font-weight: 100;
                                        }
                                        ul{
                                            list-style-type: none;
                                            
                                            li{
                                                color: rgba(2, 11, 18, 0.63);
                                                font-size: 15px;
                                                line-height: 25px;
                                                height: 25px;
                                                padding-left: 10px;
                                                i{
                                                    width: 25px !important;
                                                }
                                            }
                                            li:hover{
                                                background: rgb(42, 160, 239);
                                                color: white;
                                                
                                            }
                                        }
                                    }
                                }///dropdown-child
                                .intro{
                                    width: 500px;
                                    left: 0 !important;
                                }
                                .service{
                                    width: 1100px;
                                    left: -550px !important;
                                    background: white;
                                    img{
                                        position: absolute;
                                        bottom: 0; right: 0;
                                    }
                                }
                                
                            }
                        }
                        a{
                            color: black !important;
                            font-size: 16px;
                        }
                        button {
                            background: #1B5083;
                            color: white;
                            margin-top: 5px;  
                            padding: 10px 15px;
                            font-weight: 600 !important;
                            font-size: 15px;
                            border: none;
                            margin-left: 10px;
                        }
                    }
                    .close-button{
                        display: none;
                    }
                }
            }
        }
    }//#barfdsf
    #barMobile{
        display: none;
    }
}//#menu

.dropdown-parent:hover{
    color: white !important;
}    
.dropdown-parent:hover .dropdown-items{
    display: inherit;
}//li.dropdown-parent

.dropdown-parent{
    .dropdown-items{
        display: none;
        transition: 0.4s all;
        z-index: 3;
        
        .dropdown-child{
            position: absolute;
            right: 0px;
            transition: 0.4s all;
            z-index: 3;
            box-shadow: 0px 4px 13px -3px #808080;
            border-radius: 5px !important; 
        }
        ul#dropdown-social{
            color: black;
            width: 480px;
            height: 120px;
            transform: translate(0,50px);
            right: 69px;
            
            li:first-child{
                border-top-left-radius: 3px !important;
                border-bottom-left-radius: 3px !important;
            }
            li:last-child{
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 3px !important;
            }
            li{
                float: left;
                background: white;
                padding: 0 !important;
                height: 120px; 
                width: 25%;
                
                i{
                    border: 0 !important;
                    text-align: center;
                    line-height: 120px;
                    color: rgba(2, 11, 18, 0.63);
                    width: 100%;
                    font-size: 20px;
                }
            }
            li:hover div.dropdown-social-child{
                display: inherit !important;
            }
            .dropdown-social-child{
                position: absolute;
                width: 480px;
                left: 0;
                display: none;
                transform: translate(0,50px);
                transition: 0.4s all;
                opacity: 0;
                background: white;
                box-shadow: 0px 4px 13px -3px #808080;
                border-radius: 3px !important;
                b{
                    float: left;
                    font-size: 35px !important;
                    padding-left: 20px;
                    padding-top: 10px;
                    color: #5f6569 !important;
                    width: 70px;
                }
                .content{
                    padding: 10px 0 20px 0;
                    float: left;
                    width: 410px;
                    color: #5f6569 !important;
                    
                    h4{
                    
                    }
                    p{
                        
                    }
                }
            }//dropdown-social-child
            li:hover{
                background: rgb(42, 160, 239);
                i{
                    color: white;
                }
            }
        }//ul#dropdown-social

        ul#dropdown-language{
            width: 205px;
            background: white;
            height: 100px;
            transform: translate(0,50px);
            right: 20px;
            li{
                display: block;
                float: left;
                color: #5f6569;
                width: 100%;
                height: 50px !important;
                i{
                    border: none !important;
                }
            }
            li:hover{
                background: rgb(42, 160, 239);
                color: white !important;
                i{
                    color: white;
                }
            }
        }//ul#dropdown-langugae

    }//dropdown-items

}//li.dropdown
#header{
    transition: 0.4s all;    
}

.size{
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
    .icon{
        font-size: 30px;
        border: 1px solid black;
        height: 60px;
        width:60px;    
        padding: 5px 0;
        border-radius: 13px;
        text-align: center;
        float: left;
        }//.icon
        .content{
            padding-left: 80px;
            h4{
                color: rgb(27, 80, 131);
                font-weight: 400;
                font-size: 20px;
                margin-top: 0;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                width: 100%;
            }
        }
    .items-size{
        flex-grow: 1;
    }
}
#service{
    background: rgb(248, 248, 248);
    
   
    .marketing{
        .icon{
            border-color: rgb(246, 223, 255);
            color: rgb(246, 223, 255);
        }
        
    }
    .optimize{
        .icon{
            border-color: rgb(252, 227, 212);
            color: rgb(252, 227, 212);
        }
    }
    .design{
        .icon{
            border-color: rgb(193, 236, 236);
            color: rgb(193, 236, 236);
        }
    }
}//#service
#google{
    
    .right{
        width: 65%;
        
        p{
            font-size: 16px;
            line-height: 30px;
            font-weight: 100 !important;
            margin-bottom: 20px;
        }
        h4{
            color: rgb(27, 80, 131);
            font-size: 22px;
            line-height: 70px;
            i{
                color: rgb(181, 183, 184);
                font-size: 36px;
                width: 40px;
                text-align: center;
                line-height: 60px;
                padding-right: 5px;
            }
        }
        button{
            padding: 12px 14px;
            font-size: 18px;
            background: rgb(27, 80, 131);
            margin-top: 30px;
        }
    }
    .left{
        width: 35%;
        img{
            width: 100%;
        }
    }
}//#google

#gemimedia{
    padding: 30px 0;
    background: rgb(248, 248, 248);
    
    .gemimedia{
        width: 85%;
        margin: 0 auto;
        background: rgb(248, 248, 248);
    }
    h4{
        margin: 0;
        padding-bottom: 20px;
    }
    ul{
        
        li{
            display: inline !important;
            width: 25%;
            float: left;
            
            img{
                width: 100%;
            }
            h2{
                width: 100%;
                font-size: 20px;
                a{
                    color: white !important;
                }
            }
            
            
        }
        .first{
           background: rgb(68, 162, 219);
        }
        .second{
            background: rgb(32, 78, 128);
        }
    }
}//#gemimeida

#advertise{
    background: rgb(248, 248, 248);
}
#comment{
    background: rgb(248, 248, 248);
    .swiper-container{
        position: relative;
        height: auto;
        padding-top: 30px;
        .swiper-slide{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        p{    
            
            width: 70%;
            font-size: 18px;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
        }
        .info{
            width: 30%;
            img{
                float: left;
                width: 100px;
                padding: 5px;
                border: 1px solid #afacac;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .swiper-pagination.swiper-pagination-bullets{
            bottom: 0;
        }
        .swiper-button-next{
            background: rgb(27, 80, 131)!important;
            height: 25px;
            overflow: hidden;
            width: 25px;
            text-align: center;
            position: absolute;
            color: white;
            line-height: 25px;
            top: 22px;
            border-radius: 3px;
        }

        .swiper-button-prev-1{
            color: white;
            line-height: 25px;
            position: absolute;
            text-align: center;
            overflow: hidden;
            height: 25px;
            width: 25px;
            border: rgb(27, 80, 131) !important;
            background: rgb(27, 80, 131)!important;
            top: 0px ;
            right: 40px ;
            cursor: pointer;
            border-radius: 3px;
        }
    }    
}

#projects{
    h4{
        width: 85%;
        margin: 0 auto;
        font-size: 24px;
        margin-top: 20px;
        color: rgb(15, 97, 176);
    }
    .size{
        padding-top: 0;   
    }
    .swiper-container{
        padding: 30px 0;
        .swiper-slide{
            h5{
                color: rgb(15, 97, 176);
                font-size: 22px;
                margin-top: 10px;
            }
            p{
                font-size: 14px;
            }
            img{
                width: 100%;
            }
        }
        .swiper-button-next-2{
            background: rgb(27, 80, 131);
            height: 25px;
            overflow: hidden;
            width: 25px;
            text-align: center;
            position: absolute;
            color: white;
            line-height: 25px;
            top: 0px;
            right: 0;
            border-radius: 3px;
        }

        .swiper-button-prev-2{
            color: white;
            line-height: 25px;
            position: absolute;
            text-align: center;
            overflow: hidden;
            height: 25px;
            width: 25px;
            border: rgb(27, 80, 131) ;
            background: rgb(27, 80, 131);
            top: 0px ;
            right: 40px ;
            cursor: pointer;
            border-radius: 3px;
        }
    }
}
footer{
    background: rgb(27, 80, 131);
    .items-size{
        padding: 0 20px;
    }
    img{
        margin-bottom: 20px;
        width: 100%;
    }
    p{
        color: white;
        font-size: 16px;
        span{
            color: rgb(245, 165, 70);
        }
    }
    hr{
        margin-right: 15%;
    }
}
//SEARCH BUTTON
.search-button{
    margin-top: 10px;
}
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    transform: translate(40px, 0);
    i{
        color: black;
    }
  
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 200px;
    border-radius: 25px;
    border: 1px solid #bdb4b4;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: 10px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}
.has-feedback label.sr-only~.form-control-feedback{
    top : 9px !important;
    
}
//SEARCH BUTTON

//font
#service .dslc-icon.dslc-icon-ext-shield {
    color: rgb(190, 115, 221);
    font-size: 28px;
    line-height: 46px;
}
#service .dslc-icon-ext-basic_mixer2{
    line-height: 46px;
    color: rgb(244, 164, 121);
    font-size: 28px;
}
#service .dslc-icon-ext-linegraph{
    line-height: 46px;
    color: rgb(45, 194, 193);
    font-size: 28px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}