* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#substitute {
  height: 70px; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  padding: 0 80px;
  height: 60px !important;
  background: white; }
  .affix .navbar {
    border-radius: 0 !important; }
  .affix a.navbar-brand {
    padding: 0; }
    .affix a.navbar-brand img {
      height: 40px;
      padding-left: 15px; }
  .affix .collapse {
    height: 60px !important; }
    .affix .collapse ul {
      padding-top: 0 !important; }
      .affix .collapse ul li a {
        height: 60px !important; }

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif; }

h3 {
  color: #1b5083;
  font-size: 30px;
  margin-bottom: 30px; }

h5 {
  margin: 0; }

#menu #info {
  position: relative;
  height: 30px;
  background: #1a4c7c;
  color: white; }
  #menu #info i {
    padding-right: 15px; }
  #menu #info .info-left {
    float: left;
    height: 30px; }
    #menu #info .info-left h5 {
      line-height: 30px;
      font-size: 15px;
      padding-left: 35px; }
  #menu #info .info-right {
    float: right;
    height: 30px;
    padding-right: 20px; }
    #menu #info .info-right ul li {
      display: inline;
      line-height: 30px;
      padding: 7px 0;
      padding-right: 10px; }
      #menu #info .info-right ul li i {
        padding-left: 10px;
        border-left: 1px solid rgba(187, 169, 169, 0.34); }
      #menu #info .info-right ul li a {
        color: white; }

#menu #bar {
  height: 80px; }
  #menu #bar nav {
    background: white;
    border: none;
    border-radius: none; }
    #menu #bar nav button {
      border: none; }
      #menu #bar nav button span {
        font-size: 12px !important; }
    #menu #bar nav button:hover, #menu #bar nav button:focus {
      background: white; }
    #menu #bar nav a.navbar-brand {
      padding: 10px; }
    #menu #bar nav .navbar-collapse {
      overflow-y: visible !important;
      -webkit-transition: 0.7s all;
      -o-transition: 0.7s all;
      transition: 0.7s all; }
      #menu #bar nav .navbar-collapse ul {
        padding-top: 16px; }
        #menu #bar nav .navbar-collapse ul li .dropdown-parent {
          height: 64px; }
          #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items {
            -webkit-transition: 0.4s all;
            -o-transition: 0.4s all;
            transition: 0.4s all; }
            #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child {
              border-radius: 5px !important;
              padding: 20px;
              -webkit-transform: translateY(100px);
              -ms-transform: translateY(100px);
              transform: translateY(100px);
              -webkit-box-shadow: 0px 4px 13px -3px #808080;
              box-shadow: 0px 4px 13px -3px #808080;
              background: white; }
              #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child {
                color: #909497; }
                #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child p {
                  font-size: 13px;
                  font-weight: 100; }
                #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child h4 {
                  color: black;
                  font-weight: 400; }
                #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child h5 {
                  color: black;
                  font-size: 21px;
                  padding-top: 8px; }
                #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child h3 {
                  font-size: 17px;
                  color: rgba(2, 11, 18, 0.63);
                  font-weight: 100; }
                #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child ul {
                  list-style-type: none; }
                  #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child ul li {
                    color: rgba(2, 11, 18, 0.63);
                    font-size: 15px;
                    line-height: 25px;
                    height: 25px;
                    padding-left: 10px; }
                    #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child ul li i {
                      width: 25px !important; }
                  #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .dropdown-child .child ul li:hover {
                    background: #2aa0ef;
                    color: white; }
            #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .intro {
              width: 500px;
              left: 0 !important; }
            #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .service {
              width: 1100px;
              left: -550px !important;
              background: white; }
              #menu #bar nav .navbar-collapse ul li .dropdown-parent .dropdown-items .service img {
                position: absolute;
                bottom: 0;
                right: 0; }
        #menu #bar nav .navbar-collapse ul li a {
          color: black !important;
          font-size: 16px; }
        #menu #bar nav .navbar-collapse ul li button {
          background: #1B5083;
          color: white;
          margin-top: 5px;
          padding: 10px 15px;
          font-weight: 600 !important;
          font-size: 15px;
          border: none;
          margin-left: 10px; }
        #menu #bar nav .navbar-collapse ul .close-button {
          display: none; }

#menu #barMobile {
  display: none; }

.dropdown-parent:hover {
  color: white !important; }

.dropdown-parent:hover .dropdown-items {
  display: inherit; }

.dropdown-parent .dropdown-items {
  display: none;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  z-index: 3; }
  .dropdown-parent .dropdown-items .dropdown-child {
    position: absolute;
    right: 0px;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    z-index: 3;
    -webkit-box-shadow: 0px 4px 13px -3px #808080;
    box-shadow: 0px 4px 13px -3px #808080;
    border-radius: 5px !important; }
  .dropdown-parent .dropdown-items ul#dropdown-social {
    color: black;
    width: 480px;
    height: 120px;
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
    right: 69px; }
    .dropdown-parent .dropdown-items ul#dropdown-social li:first-child {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important; }
    .dropdown-parent .dropdown-items ul#dropdown-social li:last-child {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important; }
    .dropdown-parent .dropdown-items ul#dropdown-social li {
      float: left;
      background: white;
      padding: 0 !important;
      height: 120px;
      width: 25%; }
      .dropdown-parent .dropdown-items ul#dropdown-social li i {
        border: 0 !important;
        text-align: center;
        line-height: 120px;
        color: rgba(2, 11, 18, 0.63);
        width: 100%;
        font-size: 20px; }
    .dropdown-parent .dropdown-items ul#dropdown-social li:hover div.dropdown-social-child {
      display: inherit !important; }
    .dropdown-parent .dropdown-items ul#dropdown-social .dropdown-social-child {
      position: absolute;
      width: 480px;
      left: 0;
      display: none;
      -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
      transform: translate(0, 50px);
      -webkit-transition: 0.4s all;
      -o-transition: 0.4s all;
      transition: 0.4s all;
      opacity: 0;
      background: white;
      -webkit-box-shadow: 0px 4px 13px -3px #808080;
      box-shadow: 0px 4px 13px -3px #808080;
      border-radius: 3px !important; }
      .dropdown-parent .dropdown-items ul#dropdown-social .dropdown-social-child b {
        float: left;
        font-size: 35px !important;
        padding-left: 20px;
        padding-top: 10px;
        color: #5f6569 !important;
        width: 70px; }
      .dropdown-parent .dropdown-items ul#dropdown-social .dropdown-social-child .content {
        padding: 10px 0 20px 0;
        float: left;
        width: 410px;
        color: #5f6569 !important; }
    .dropdown-parent .dropdown-items ul#dropdown-social li:hover {
      background: #2aa0ef; }
      .dropdown-parent .dropdown-items ul#dropdown-social li:hover i {
        color: white; }
  .dropdown-parent .dropdown-items ul#dropdown-language {
    width: 205px;
    background: white;
    height: 100px;
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
    right: 20px; }
    .dropdown-parent .dropdown-items ul#dropdown-language li {
      display: block;
      float: left;
      color: #5f6569;
      width: 100%;
      height: 50px !important; }
      .dropdown-parent .dropdown-items ul#dropdown-language li i {
        border: none !important; }
    .dropdown-parent .dropdown-items ul#dropdown-language li:hover {
      background: #2aa0ef;
      color: white !important; }
      .dropdown-parent .dropdown-items ul#dropdown-language li:hover i {
        color: white; }

#header {
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

.size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0; }
  .size .icon {
    font-size: 30px;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    padding: 5px 0;
    border-radius: 13px;
    text-align: center;
    float: left; }
  .size .content {
    padding-left: 80px; }
    .size .content h4 {
      color: #1b5083;
      font-weight: 400;
      font-size: 20px;
      margin-top: 0; }
    .size .content p {
      font-size: 16px;
      font-weight: 400;
      width: 100%; }
  .size .items-size {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

#service {
  background: #f8f8f8; }
  #service .marketing .icon {
    border-color: #f6dfff;
    color: #f6dfff; }
  #service .optimize .icon {
    border-color: #fce3d4;
    color: #fce3d4; }
  #service .design .icon {
    border-color: #c1ecec;
    color: #c1ecec; }

#google .right {
  width: 65%; }
  #google .right p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 100 !important;
    margin-bottom: 20px; }
  #google .right h4 {
    color: #1b5083;
    font-size: 22px;
    line-height: 70px; }
    #google .right h4 i {
      color: #b5b7b8;
      font-size: 36px;
      width: 40px;
      text-align: center;
      line-height: 60px;
      padding-right: 5px; }
  #google .right button {
    padding: 12px 14px;
    font-size: 18px;
    background: #1b5083;
    margin-top: 30px; }

#google .left {
  width: 35%; }
  #google .left img {
    width: 100%; }

#gemimedia {
  padding: 30px 0;
  background: #f8f8f8; }
  #gemimedia .gemimedia {
    width: 85%;
    margin: 0 auto;
    background: #f8f8f8; }
  #gemimedia h4 {
    margin: 0;
    padding-bottom: 20px; }
  #gemimedia ul li {
    display: inline !important;
    width: 25%;
    float: left; }
    #gemimedia ul li img {
      width: 100%; }
    #gemimedia ul li h2 {
      width: 100%;
      font-size: 20px; }
      #gemimedia ul li h2 a {
        color: white !important; }
  #gemimedia ul .first {
    background: #44a2db; }
  #gemimedia ul .second {
    background: #204e80; }

#advertise {
  background: #f8f8f8; }

#comment {
  background: #f8f8f8; }
  #comment .swiper-container {
    position: relative;
    height: auto;
    padding-top: 30px; }
    #comment .swiper-container .swiper-slide {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    #comment .swiper-container p {
      width: 70%;
      font-size: 18px; }
    #comment .swiper-container h4 {
      font-size: 20px;
      font-weight: 600; }
    #comment .swiper-container .info {
      width: 30%; }
      #comment .swiper-container .info img {
        float: left;
        width: 100px;
        padding: 5px;
        border: 1px solid #afacac;
        border-radius: 50%;
        margin-right: 10px; }
    #comment .swiper-container .swiper-pagination.swiper-pagination-bullets {
      bottom: 0; }
    #comment .swiper-container .swiper-button-next {
      background: #1b5083 !important;
      height: 25px;
      overflow: hidden;
      width: 25px;
      text-align: center;
      position: absolute;
      color: white;
      line-height: 25px;
      top: 22px;
      border-radius: 3px; }
    #comment .swiper-container .swiper-button-prev-1 {
      color: white;
      line-height: 25px;
      position: absolute;
      text-align: center;
      overflow: hidden;
      height: 25px;
      width: 25px;
      border: #1b5083 !important;
      background: #1b5083 !important;
      top: 0px;
      right: 40px;
      cursor: pointer;
      border-radius: 3px; }

#projects h4 {
  width: 85%;
  margin: 0 auto;
  font-size: 24px;
  margin-top: 20px;
  color: #0f61b0; }

#projects .size {
  padding-top: 0; }

#projects .swiper-container {
  padding: 30px 0; }
  #projects .swiper-container .swiper-slide h5 {
    color: #0f61b0;
    font-size: 22px;
    margin-top: 10px; }
  #projects .swiper-container .swiper-slide p {
    font-size: 14px; }
  #projects .swiper-container .swiper-slide img {
    width: 100%; }
  #projects .swiper-container .swiper-button-next-2 {
    background: #1b5083;
    height: 25px;
    overflow: hidden;
    width: 25px;
    text-align: center;
    position: absolute;
    color: white;
    line-height: 25px;
    top: 0px;
    right: 0;
    border-radius: 3px; }
  #projects .swiper-container .swiper-button-prev-2 {
    color: white;
    line-height: 25px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    height: 25px;
    width: 25px;
    border: #1b5083;
    background: #1b5083;
    top: 0px;
    right: 40px;
    cursor: pointer;
    border-radius: 3px; }

footer {
  background: #1b5083; }
  footer .items-size {
    padding: 0 20px; }
  footer img {
    margin-bottom: 20px;
    width: 100%; }
  footer p {
    color: white;
    font-size: 16px; }
    footer p span {
      color: #f5a546; }
  footer hr {
    margin-right: 15%; }

.search-button {
  margin-top: 10px; }

.search-form .form-group {
  float: right !important;
  -webkit-transition: all 0.35s, border-radius 0s;
  -o-transition: all 0.35s, border-radius 0s;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  -webkit-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  transform: translate(40px, 0); }
  .search-form .form-group i {
    color: black; }

.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block; }

.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none; }

.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none; }

.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none; }

.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none; }

.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 200px;
  border-radius: 25px;
  border: 1px solid #bdb4b4; }

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: 10px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 9px !important; }

#service .dslc-icon.dslc-icon-ext-shield {
  color: #be73dd;
  font-size: 28px;
  line-height: 46px; }

#service .dslc-icon-ext-basic_mixer2 {
  line-height: 46px;
  color: #f4a479;
  font-size: 28px; }

#service .dslc-icon-ext-linegraph {
  line-height: 46px;
  color: #2dc2c1;
  font-size: 28px; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px; }
