.container{
    width: 100%;
    padding: 0 80px !important;
}
    
#news{
    article{
        img{
            width: 100% !important;
        }
}
    .left{
        padding-top: 30px;
        .article{

        border-top: 1px solid rgb(31, 155, 232);
        padding-top: 20px;
            img{
                width: 35%;
                float: left;
                margin-bottom: 30px;
            }
            .content{
                width: 65%;
                float: left;
                padding-left: 20px;
                h3{
                    margin-top: 0;
                    margin-bottom: 10px;
                    line-height: 25px;
                    a{
                        font-size: 24px;
                        color: #4d4d4d;
                        text-decoration: none;    
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
    .right{
        margin-top: 20px;
        .hotline{
            h4{
                background: rgb(245, 165, 70) !important;
            }
        }
        .news-article{
            .items{
                padding-top: 10px;
                border-top: 1px solid #ededed;
            
                img{
                    width: 30%;
                    float: left;
                    padding-bottom: 20px;
                }
                a{   
                    padding-left: 10px;
                    width: 70%;
                    float: left;
                    padding-bottom: 20px;
                }
            }
        }
        p{
            font-size: 18px;
            line-height: 28px;
        }
        h4{
            background: rgb(27, 80, 131);
            color: white;
            padding: 12px;
            padding-left: 20px;
            font-size: 18px;
        }
        .form{
            input{
                box-shadow: none;
                height: 40px !important;
            }
            button{
                background:rgb(27, 80, 131);
                border: none;
                padding: 10px 25px;
            }
        }

    }
}

@media only screen and (max-width:480px){
    .article{
        img{
            width: 100% !important;
        }
        .content{
            width:100% !important;
        }
    }
}

@media only screen and (max-width:768px){
    .container{
        width: 100%;
        padding: 0 15px !important;
    }
}

