.container {
  width: 100%;
  padding: 0 80px !important; }

#news article img {
  width: 100% !important; }

#news .left {
  padding-top: 30px; }
  #news .left .article {
    border-top: 1px solid #1f9be8;
    padding-top: 20px; }
    #news .left .article img {
      width: 35%;
      float: left;
      margin-bottom: 30px; }
    #news .left .article .content {
      width: 65%;
      float: left;
      padding-left: 20px; }
      #news .left .article .content h3 {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 25px; }
        #news .left .article .content h3 a {
          font-size: 24px;
          color: #4d4d4d;
          text-decoration: none; }
      #news .left .article .content p {
        font-size: 14px;
        line-height: 22px; }

#news .right {
  margin-top: 20px; }
  #news .right .hotline h4 {
    background: #f5a546 !important; }
  #news .right .news-article .items {
    padding-top: 10px;
    border-top: 1px solid #ededed; }
    #news .right .news-article .items img {
      width: 30%;
      float: left;
      padding-bottom: 20px; }
    #news .right .news-article .items a {
      padding-left: 10px;
      width: 70%;
      float: left;
      padding-bottom: 20px; }
  #news .right p {
    font-size: 18px;
    line-height: 28px; }
  #news .right h4 {
    background: #1b5083;
    color: white;
    padding: 12px;
    padding-left: 20px;
    font-size: 18px; }
  #news .right .form input {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40px !important; }
  #news .right .form button {
    background: #1b5083;
    border: none;
    padding: 10px 25px; }

@media only screen and (max-width: 480px) {
  .article img {
    width: 100% !important; }
  .article .content {
    width: 100% !important; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px !important; } }
