
.dropdown-translate{
    transform: translate(0,0) !important;
    opacity: 1 !important;
}
.dropdown-translate-bar{
    transform: translate(0,29px) !important;
    opacity: 1 !important;
}
.opacityBar{
    opacity: 1 !important;
}

#header .swiper-pagination-bullet-active{
    background: white !important;
}
#customer .swiper-pagination-bullet-active{
    background: rgba(153, 153, 153, 0.78) !important;
}
#customer .swiper-pagination-bullet{
    background :#9a9999 !important;
}
a{
    text-decoration: none !important;
}
#header.swiper-container {
        width: 100%;
        height: 100%;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        img{
            width: 100%;
        }
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

#customer{
    .swiper-container {
    width: 80%;
    margin: 0 auto;
    height: 300px;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            line-height: 300px;
        }
    }
}

@media only screen and (max-width:991px){
    #menu{
        #bar{
            display: none;
        }
        #barMobile{
            display: inherit;
            nav.navbar{
                background: white;
                border: none;
                margin: 0;
                .navbar-collapse{
                    ul.navbar-nav{
                        li{
                            padding: 5px 10px;
                            color: black;
                        }
                    }
                    a{
                        color:black;
                    }
                    p.dropdown-toggle{
                        padding-left: 15px;
                    }
                    ul.dropdown-menu{
                        a.test{
                            color: black !important;
                        }
                        ul.dropdown-menu{
                            li{
                                padding-left: 30px;
                                a{
                                    color: rgba(2, 11, 18, 0.63) !important;
                                    i{
                                        padding-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                a.navbar-brand{
                    padding: 5px 20px;
                    img{
                        height: 100%;
                    }
                }
            }
            
        }
    }
    .container{
//        width: 970px;
    }
    .close-button{
        display: inherit !important;
        position: absolute;
        width: 50px;
        height: 50px;
        color: white;
        background: #1b5083;
        text-align: center;
        margin: 0 auto;
        line-height: 35px;
        font-size: 24px;
        border-radius: 50%;
        transform: translateY(-10px);
    }
    .dropdown-translate-bar{
        transform: translate(0)!important;
    }
    #menu{
        #info{
            display: none;
        }
        #bar{
            height: 60px !important;
            .navbar-collapse{
                opacity: 0;
            }
            .form-group{
                transform: translate(-50px, -48px) !important; 
            }
            button{
                margin-top: 10px;
                margin-right: 0;
            }
            a.navbar-brand{
                padding-top:5px !important;
                img{
                    height: 40px;
                }
            }            
            
            margin: 0 !important;
            width: 100%;
            nav.navbar{
                ul{
                    li{
                        .dropdown-parent{
                            height: 100%;
                            .dropdown-items{
                                .dropdown-child{
                                    position: static;
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }//menu
    #google{
        .right{
            h4{
                font-size: 16px;
                line-height: 50px;
            }
        }
    }
    #gemimedia{
        ul{
            li{
                h2{
                    font-size: 16px;
                    
                }
            }
        }
    }
    .active{
        margin-top: 317px;
    }
    .active-service{
        margin-top: 733px;
    }
    .active-intro{
        margin-top: 521px;
    }
    .active-nodrop{
        margin-top: 327px;
    }
}



@media only screen and (max-width:768px){
    
    .size{
        width: 90%;
        .items-size{
            padding: 0 10px;
        }
    }
        .content{
            h4{
                height: 60px;
                padding-left: 70px;
                
            }
            padding: 0 10px !important;
        }

    
    #google{
        h4{
            height: 40px;
            padding-left: 0 !important;
        }
    }
    #gemimedia{
        ul{
            li{
                width: 45%;
                margin: 10px 2%;
            }
        }
    }
    
    #comment{
        .swiper-container{
            height: 180px;
        }
        p{
            width: 60% !important;
        }
        .info{
            width: 40% !important;
        }
    }
}
@media only screen and (max-width:480px){
    #comment{
        .swiper-container{
            height: 300px;
        }
        p{
            width: 100% !important;
        }
        .info{
            width: 100% !important;
        }
    }
    .active-service{
        margin-top: 1003px !important;
    }
    #menu {
        #bar{
            ul{
                li{
                    a{
                        img {
                            width: 100%;
                        }
                    }
                    
                }
            }
        }
    }
    
    #service{
        
   
        .size{

            display: block;
            .items-size{
                width: 100%;
            }
        }
    }    
    #google{
        .content{
            .size{
                display: block;
            }
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
                h4{
                    padding: 0 !important;
                    height: auto !important;
                    line-height: 35px !important;
                }
            }
        }
    }
    #gemimedia{
        ul{
            li{
                width: 100% !important;
                margin: 0 !important;
                
            }
        }
    }
    #advertise{
        .size{
            padding: 30px 0 !important;
            display: table;
            width: 85% !important;
        }
    }
    #comment {
        .swiper-pagination{
            display: none;
        }
    }
    .size{
        .items-size{
            padding: 10px 0;
        }
        .content{
            padding-left: 70px !important;
            h4{
                height: 30px;
                padding-left: 0;
            }
        }
    }
    #projects{
        .swiper-container{
            margin: 0 !important;
            width: 100% !important;
        }
    }
    
    footer{
        .size{
            img{
                width: 50% !important;
            }
            display: block;
        }
    }
    
}
@media only screen and (max-width:360px){}