#produce {
  padding: 0 120px; }
  #produce p {
    margin-top: 60px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px; }

#list {
  padding: 40px 80px;
  background: #fbfbfb; }
  #list #listItems {
    overflow: hidden; }
    #list #listItems .rowItems {
      position: relative;
      color: white; }
      #list #listItems .rowItems h5 {
        font-size: 16px;
        margin-bottom: 10px; }
      #list #listItems .rowItems p {
        font-size: 13px; }
      #list #listItems .rowItems img {
        height: 100%; }
      #list #listItems .rowItems .itemsLeft {
        float: left;
        position: relative; }
        #list #listItems .rowItems .itemsLeft .content {
          position: absolute;
          padding: 40px 40px 0 250px;
          top: 0; }
      #list #listItems .rowItems .itemsRight {
        position: relative;
        float: right; }
        #list #listItems .rowItems .itemsRight .content {
          position: absolute;
          padding: 40px 250px 0 60px;
          top: 0; }
      #list #listItems .rowItems .items {
        height: 150px; }

.header {
  position: relative; }
  .header h4 {
    color: #0f61b0;
    font-size: 22px;
    margin-top: 40px; }
  .header hr {
    width: 100px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-top: 1px solid #0f61b0; }
  .header p {
    padding: 0 150px;
    margin-top: 30px; }

#progress {
  padding: 40px 80px; }
  #progress .progressItems {
    margin-top: 40px;
    position: relative; }
    #progress .progressItems .items {
      margin-bottom: 40px;
      position: relative; }
      #progress .progressItems .items .number {
        position: absolute;
        top: 6px;
        left: 30px; }
      #progress .progressItems .items .number1 {
        color: #e64865; }
      #progress .progressItems .items .number2 {
        color: #708da9; }
      #progress .progressItems .items .number3 {
        color: #e3874b; }
      #progress .progressItems .items .number4 {
        color: #e238ba; }
      #progress .progressItems .items .number5 {
        color: #4be3c6; }
      #progress .progressItems .items .number6 {
        color: #e34b67; }
      #progress .progressItems .items .number7 {
        color: #3857e2; }
      #progress .progressItems .items .number8 {
        color: #ab38e2; }
      #progress .progressItems .items img {
        width: 100%;
        height: 110px; }
      #progress .progressItems .items .content {
        position: absolute;
        top: 0;
        padding-top: 2px;
        padding-left: 200px;
        padding-right: 20px; }

.list-type3 {
  margin: 0 30px;
  width: auto; }
  .list-type3 ol {
    list-style: none; }
  .list-type3 li, .list-type3 a {
    text-align: center;
    display: block;
    height: auto;
    line-height: 35px;
    position: relative;
    font-size: 15px;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
    transition: background-color 1.5s ease; }
  .list-type3 a {
    padding: 0 12px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
  .list-type3 a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 100%;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 18px 12px 18px 0; }
  .list-type3 a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    float: left;
    width: 6px;
    height: 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .list-type3 a:hover {
    background: #555; }
  .list-type3 a:hover {
    border-color: transparent #0089e0 transparent transparent; }

#price {
  padding: 40px 80px; }
  #price #priceItems {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #price #priceItems .items {
      width: 47%;
      position: relative;
      margin-bottom: 40px; }
      #price #priceItems .items .pack {
        position: absolute;
        top: 160px;
        color: #1265b6; }
        #price #priceItems .items .pack h2 {
          font-size: 25px;
          text-shadow: 0px 0px 4px white; }
      #price #priceItems .items img {
        width: 100%;
        height: 309px; }
      #price #priceItems .items .content {
        position: absolute;
        color: white;
        top: 165px;
        width: 58%; }
        #price #priceItems .items .content p {
          font-size: 12px; }
        #price #priceItems .items .content h5 {
          color: #effe00; }
          #price #priceItems .items .content h5 span {
            font-size: 18px; }
    #price #priceItems .itemsLeft .pack {
      text-align: left;
      left: 10px; }
    #price #priceItems .itemsLeft .content {
      right: 5px; }
    #price #priceItems .itemsRight .pack {
      right: 10px;
      text-align: right; }
    #price #priceItems .itemsRight .content {
      left: 5px; }

#projectsDone {
  background: url(../images/projectsBackground.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 40px 80px 80px 80px;
  position: relative; }
  #projectsDone #moreButton {
    position: absolute;
    left: 0;
    right: -11px;
    bottom: 10px;
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px); }
    #projectsDone #moreButton a {
      display: block !important;
      text-decoration: none; }
    #projectsDone #moreButton b {
      font-size: 22px;
      color: #337ab7; }
  #projectsDone .projectsItems {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #projectsDone .projectsItems .items {
      width: 23%;
      margin-bottom: 20px; }
      #projectsDone .projectsItems .items img {
        border: 1px solid #d7d7d7;
        padding: 2px;
        width: 100%; }

#why #noPerson {
  display: none; }

#why #person {
  position: relative;
  height: 640px; }
  #why #person .background {
    position: absolute;
    width: 100%; }
    #why #person .background img {
      width: 100%;
      height: 600px; }
  #why #person .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #why #person .list .listItems {
      width: 50%; }
    #why #person .list .listLeft {
      position: relative; }
      #why #person .list .listLeft p {
        text-align: right;
        position: relative; }
        #why #person .list .listLeft p img {
          position: absolute;
          right: -50px;
          bottom: -8px; }
      #why #person .list .listLeft .list1 {
        position: absolute;
        top: 140px;
        right: 180px; }
      #why #person .list .listLeft .list2 {
        position: absolute;
        top: 230px;
        right: 240px; }
      #why #person .list .listLeft .list3 {
        position: absolute;
        top: 320px;
        right: 260px; }
      #why #person .list .listLeft .list4 {
        position: absolute;
        top: 410px;
        right: 240px; }
      #why #person .list .listLeft .list5 {
        position: absolute;
        top: 500px;
        right: 180px; }
    #why #person .list .listRight {
      position: relative; }
      #why #person .list .listRight p {
        position: relative;
        text-align: left; }
        #why #person .list .listRight p img {
          position: absolute;
          bottom: -8px;
          left: -50px; }
      #why #person .list .listRight .list1 {
        position: absolute;
        top: 140px;
        left: 180px; }
      #why #person .list .listRight .list2 {
        position: absolute;
        top: 230px;
        left: 240px; }
      #why #person .list .listRight .list3 {
        position: absolute;
        top: 320px;
        left: 260px; }
      #why #person .list .listRight .list4 {
        position: absolute;
        top: 410px;
        left: 240px; }
      #why #person .list .listRight .list5 {
        position: absolute;
        top: 500px;
        left: 180px; }

@media only screen and (max-width: 991px) {
  #progress .progressItems .items .number {
    left: 10px; }
  #progress .progressItems .items .content {
    padding-left: 140px; }
  #price #priceItems .items {
    width: 49%; }
    #price #priceItems .items img {
      height: 315px; }
    #price #priceItems .items .content {
      top: 155px; }
    #price #priceItems .items .pack {
      top: 175px; }
      #price #priceItems .items .pack h2 {
        font-size: 20px; }
      #price #priceItems .items .pack h1 {
        font-size: 24px; } }

@media only screen and (max-width: 768px) {
  #why #person {
    overflow: hidden;
    display: none; }
  #why #noPerson {
    display: inherit;
    margin-top: 40px; }
  #price {
    padding: 40px 15px; }
    #price #priceItems .items .content {
      top: 145px; }
  #projectsDone {
    padding: 40px 15px; }
  #produce {
    padding: 0 15px; }
    #produce img {
      width: 100%; }
    #produce p {
      padding: 0 50px;
      letter-spacing: 1px;
      line-height: 25px; }
  #list {
    padding: 40px 15px !important; }
    #list #listItems .rowItems .items img {
      height: 120px; }
    #list #listItems .rowItems .itemsLeft .content {
      padding: 30px 0px 0px 200px !important; }
    #list #listItems .rowItems .itemsRight .content {
      padding: 30px 160px 0px 50px !important; }
  #progress {
    padding: 40px 15px !important; }
    #progress .progressItems .items .number {
      top: 23px; }
    #progress .progressItems .items img {
      height: 150px; }
    #progress .progressItems .items .content {
      padding-left: 100px !important; }
      #progress .progressItems .items .content h4 {
        padding-left: 0 !important;
        height: auto !important; } }

@media only screen and (max-width: 480px) {
  .header p {
    padding: 0 30px;
    line-height: 22px;
    letter-spacing: 1px; }
  #price #priceItems {
    margin-top: 40px; }
    #price #priceItems .items {
      width: 100%; }
  #projectsDone .projectsItems .items {
    width: 45%; }
  #header img {
    height: 200px; }
  #list #listItems .rowItems .items img {
    height: 120px;
    width: 100%; }
  #list #listItems .rowItems .itemsLeft .content {
    padding-left: 170px !important; }
  #list #listItems .rowItems .itemsRight .content {
    padding-left: 35px !important; }
  #progress {
    padding: 0 15px; }
    #progress .progressItems .items .number {
      top: 23px;
      left: 0; }
    #progress .progressItems .items img {
      height: 160px; } }

@media only screen and (max-width: 360px) {
  #price #priceItems {
    margin-top: 40px; }
    #price #priceItems .items {
      width: 100%; }
      #price #priceItems .items img {
        height: 330px; }
      #price #priceItems .items .pack h2 {
        font-size: 18px; }
  #projectsDone .projectsItems .items {
    width: 100%; }
  #list #listItems .rowItems .items img {
    height: 140px;
    width: 100%; }
  #list #listItems .rowItems .itemsLeft .content {
    padding-left: 130px !important; }
  #list #listItems .rowItems .itemsRight .content {
    padding-right: 120px !important;
    padding-left: 25px !important; }
  #progress {
    padding: 0 15px; }
    #progress .progressItems .items .number {
      top: 43px;
      left: -8px; }
    #progress .progressItems .items img {
      height: 190px; }
    #progress .progressItems .items .content {
      padding-left: 55px !important; } }

@media only screen and (max-width: 320px) {
  #price #priceItems {
    margin-top: 40px; }
    #price #priceItems .items {
      width: 100%; }
      #price #priceItems .items img {
        height: 350px; }
      #price #priceItems .items .pack h2 {
        font-size: 18px; }
  #produce p {
    padding: 0 0 !important; }
  #list #listItems .rowItems .items img {
    height: 150px;
    width: 100%; }
  #list #listItems .rowItems .itemsLeft .content {
    padding-left: 110px !important; }
  #list #listItems .rowItems .itemsRight .content {
    padding-right: 100px !important;
    padding-left: 25px !important; }
  #progress .progressItems .items .number {
    top: 53px; }
  #progress .progressItems .items img {
    height: 220px; } }
