#comment {
  background: #59ace7;
  color: white;
  font-family: Roboto;
  font-weight: 300; }
  #comment .size {
    padding: 0 !important; }
    #comment .size .swiper-container {
      padding-top: 15px;
      height: auto !important; }
  #comment p {
    font-size: 24px !important;
    line-height: 36px !important; }
  #comment .info {
    text-align: center; }
    #comment .info img {
      float: none !important; }

#commitment {
  padding: 50px 10%;
  font-family: Roboto !important; }
  #commitment h1 {
    font-weight: 200;
    font-size: 54px;
    color: #1d5184;
    margin-bottom: 50px; }
  #commitment p {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300; }

.frame .size {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .frame .size .items {
    width: 32%; }

#services .size .items {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 40px; }
  #services .size .items .inside {
    padding: 20px; }
  #services .size .items a {
    color: white !important; }
  #services .size .items img {
    padding: 0 10%;
    width: 100%; }
  #services .size .items h4 {
    margin: 0;
    padding: 30px 20px; }

#services .size .items1 .inside {
  background: #1b4b6f; }

#services .size .items1 h4 {
  background: #17486d; }

#services .size .items2 .inside {
  background: #f3ac34; }

#services .size .items2 h4 {
  background: #efa435; }

#services .size .items3 .inside {
  background: #8ea220; }

#services .size .items3 h4 {
  background: #8ea220; }

#services .size .items4 .inside {
  background: #2d6eb4; }

#services .size .items4 h4 {
  background: #2c63a2; }

#services .size .items5 .inside {
  background: #d2321e; }

#services .size .items5 h4 {
  background: #cd2721; }

#services .size .items6 .inside {
  background: #23a3a9; }

#services .size .items6 h4 {
  background: #19999f; }

#service {
  padding: 40px 0;
  font-family: Roboto;
  background-color: #2a4357;
  background-image: url(http://gemimedia.com/wp-content/uploads/pattern-shattered-transparent-contrast-low.png); }
  #service .button {
    margin-bottom: 20px;
    margin-top: 50px; }
    #service .button button {
      border: none;
      color: white;
      font-size: 24px;
      padding: 10px 24px;
      font-family: Roboto;
      margin: 10px 10px;
      font-weight: 300; }
      #service .button button span {
        padding-right: 10px; }
    #service .button .blue {
      background: #2aa0ef; }
    #service .button .blue:hover {
      background: #4b7bc2; }
    #service .button .orange {
      background: orange; }
    #service .button .orange:hover {
      background: #ff6e00; }
  #service .size {
    padding: 0; }
    #service .size .items {
      margin: 40px 0; }
      #service .size .items .icon {
        background: #60788b;
        color: white;
        border: none;
        border-radius: 25px;
        border-color: white !important; }
        #service .size .items .icon span {
          font-size: 38px;
          height: 50px;
          line-height: 50px; }
      #service .size .items .content h4 a {
        color: white;
        line-height: 27px;
        font-size: 24px;
        font-weight: 300; }
      #service .size .items .content p {
        color: #b3c7d8;
        font-weight: 300;
        font-size: 17px; }
      #service .size .items .content button {
        border-color: #b3c7d8;
        background: transparent;
        font-size: 13px;
        padding: 11px 17px; }
        #service .size .items .content button a {
          color: white; }

#projects {
  background-color: #2a4357 !important;
  background-image: url(http://gemimedia.com/wp-content/uploads/pattern-shattered-transparent-contrast-low.png) !important; }
  #projects .swiper-container {
    padding-top: 100px !important; }
    #projects .swiper-container .swiper-slide {
      background: white; }
      #projects .swiper-container .swiper-slide h5 {
        padding: 0 20px; }
      #projects .swiper-container .swiper-slide p {
        padding: 0 20px; }
  #projects .swiper-button-next-2 {
    background: transparent !important;
    border: 1px solid rgba(170, 170, 170, 0.28) !important;
    color: rgba(196, 196, 196, 0.68) !important;
    height: 40px !important;
    width: 40px !important;
    line-height: 40px !important;
    top: 30px !important; }
  #projects .swiper-button-prev-2 {
    background: transparent !important;
    border: 1px solid rgba(170, 170, 170, 0.28) !important;
    color: rgba(196, 196, 196, 0.68) !important;
    height: 40px !important;
    width: 40px !important;
    line-height: 40px !important;
    top: 30px !important;
    right: 60px !important; }

#missions {
  font-family: Roboto; }
  #missions .size .items .icon {
    height: 80px;
    width: 80px;
    border-radius: 25px; }
    #missions .size .items .icon span {
      line-height: 60px; }
  #missions .size .items .call {
    border-color: #F6DFFF; }
    #missions .size .items .call span {
      color: #BE73DD !important; }
  #missions .size .items .engage {
    border-color: rgba(243, 122, 49, 0.21); }
    #missions .size .items .engage span {
      color: #f39861 !important; }
  #missions .size .items .inspire {
    border-color: rgba(26, 186, 186, 0.27); }
    #missions .size .items .inspire span {
      color: #1ababa !important; }
  #missions .size .content {
    padding-left: 100px; }
    #missions .size .content h4 {
      color: #3d3d3d;
      font-size: 27px;
      font-weight: 300;
      line-height: 30px; }
    #missions .size .content h6 {
      font-size: 14px;
      font-weight: 300;
      line-height: 22px; }
  #missions .size .commit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px; }
    #missions .size .commit .left, #missions .size .commit .right {
      width: 48%;
      font-weight: 300;
      font-size: 17px;
      line-height: 27px; }

@media only screen and (max-width: 480px) {
  #comment .swiper-container .info {
    text-align: center; }
    #comment .swiper-container .info img {
      float: none; }
  #services .size {
    width: 100% !important;
    padding-bottom: 0; }
    #services .size .items {
      margin-bottom: 0; }
  #missions .size .items {
    margin-bottom: 20px; }
    #missions .size .items .icon {
      width: 60px !important;
      height: 60px !important; }
      #missions .size .items .icon span {
        line-height: 50px;
        font-size: 25px !important; }
  .frame .size .items {
    width: 100%; }
  #service .size .items {
    width: 100%; } }
