#price #priceItems .items p {
  font-size: 16px !important; }

#price #priceItems .items .pack {
  top: 150px !important;
  text-shadow: 0 0 4px white; }
  #price #priceItems .items .pack h1 {
    color: #d50000 !important; }

#progress2 {
  padding: 40px 80px;
  background: #e2f3ff;
  height: 704px; }
  #progress2 .progress2 {
    position: relative; }
    #progress2 .progress2 img {
      z-index: 3;
      height: 550px;
      position: absolute;
      margin-left: 30px; }
    #progress2 .progress2 .line {
      position: absolute;
      width: 100%;
      border-radius: 43px;
      height: 88px;
      background: white;
      padding: 10px;
      z-index: 1;
      top: 400px;
      padding-left: 130px;
      overflow: hidden; }
      #progress2 .progress2 .line h4 {
        color: #0f61b0;
        margin: 5px 0; }
      #progress2 .progress2 .line p {
        margin: 0; }
    #progress2 .progress2 .line1 {
      top: 36px; }
    #progress2 .progress2 .line2 {
      top: 166px; }
    #progress2 .progress2 .line3 {
      top: 294px; }
    #progress2 .progress2 .line4 {
      top: 432px; }

.swiper-container {
  width: 100%;
  height: 525px; }
  .swiper-container .swiper-slide {
    background-position: center;
    background-size: cover; }

#sign {
  position: relative;
  height: 600px; }
  #sign #form {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 90%;
    height: 64%;
    margin: 5%;
    background: rgba(0, 0, 0, 0.66);
    padding: 0 8%; }
    #sign #form input {
      margin: 10px 0 !important;
      background: transparent !important;
      color: white; }
    #sign #form ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: white; }
    #sign #form :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: white;
      opacity: 1; }
    #sign #form ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: white;
      opacity: 1; }
    #sign #form :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white; }
    #sign #form ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white; }
    #sign #form textarea {
      margin: 10px 0;
      background: transparent !important; }
    #sign #form .header {
      color: white; }
      #sign #form .header h4 {
        color: white !important;
        margin-top: 30px !important; }
      #sign #form .header hr {
        border-top: 1px solid white; }
      #sign #form .header p {
        padding: 0 5%; }
    #sign #form .form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #sign #form .form .formLeft {
        width: 47%; }
      #sign #form .form .formRight {
        width: 47%; }
      #sign #form .form button {
        width: 120px;
        margin: 20px auto; }

#round {
  position: relative; }
  #round img {
    width: 911px;
    height: 911px;
    margin-bottom: 40px; }
  #round #content {
    width: 50%;
    position: absolute;
    top: 0; }
    #round #content #contentItems {
      position: relative; }
    #round #content .content {
      position: absolute;
      width: 200px;
      color: white; }
    #round #content .content1 {
      top: 120px;
      right: -94px; }
    #round #content .content2 {
      top: 206px;
      right: -308px;
      -webkit-transform: rotate(47deg);
      -ms-transform: rotate(47deg);
      transform: rotate(47deg); }
    #round #content .content3 {
      top: 420px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: -400px; }
    #round #content .content4 {
      top: 644px;
      right: -320px;
      -webkit-transform: rotate(136deg);
      -ms-transform: rotate(136deg);
      transform: rotate(136deg); }
    #round #content .content5 {
      top: 730px;
      right: -102px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    #round #content .content6 {
      top: 644px;
      right: 120px;
      -webkit-transform: rotate(-136deg);
      -ms-transform: rotate(-136deg);
      transform: rotate(-136deg); }
    #round #content .content7 {
      top: 430px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      right: 210px; }
    #round #content .content8 {
      top: 206px;
      right: 128px;
      -webkit-transform: rotate(-47deg);
      -ms-transform: rotate(-47deg);
      transform: rotate(-47deg); }
  #round .labelGemi {
    width: 300px;
    position: absolute;
    top: 370px;
    right: -150px; }
    #round .labelGemi img {
      width: 250px;
      height: auto; }
    #round .labelGemi h4 {
      color: #0f61b0;
      font-size: 20px;
      line-height: 30px; }
  #round #noRound {
    display: none; }

@media only screen and (max-width: 991px) {
  #price #priceItems .items .pack {
    top: 160px !important; } }

@media only screen and (max-width: 768px) {
  #progress2 {
    padding: 40px 15px; }
  #round img {
    width: 600px;
    height: 600px; }
  #round #content #noRound {
    display: none;
    margin-top: 40px; }
  #round #content .content {
    width: 130px; }
  #round #content .content1 {
    top: 60px;
    right: -64px; }
  #round #content .content2 {
    top: 118px;
    right: -199px; }
  #round #content .content3 {
    top: 251px;
    right: -260px; }
  #round #content .content4 {
    top: 384px;
    right: -200px; }
  #round #content .content5 {
    top: 440px;
    right: -70px; }
  #round #content .content6 {
    top: 390px;
    right: 70px; }
  #round #content .content7 {
    top: 251px;
    right: 126px; }
  #round #content .content8 {
    top: 116px;
    right: 72px; }
  #round .labelGemi {
    width: 300px;
    top: 210px;
    right: -150px;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
    #round .labelGemi img {
      width: 250px;
      height: auto; }
    #round .labelGemi h4 {
      color: #0f61b0;
      font-size: 20px;
      line-height: 30px; } }

@media only screen and (max-width: 480px) {
  #sign .swiper-container {
    height: 640px; }
  #sign #form {
    height: 100% !important; }
    #sign #form .form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #sign #form .form .formLeft {
        width: 100% !important; }
      #sign #form .form .formRight {
        width: 100% !important; }
      #sign #form .form button {
        width: 120px;
        margin: 20px auto; }
  #progress2 .progress2 img {
    margin-left: 0px !important; }
  #progress2 .progress2 .line {
    padding-left: 100px;
    padding-top: 0; }
    #progress2 .progress2 .line h4 {
      font-size: 16px; } }

@media only screen and (max-width: 600px) {
  #round #contentItems {
    overflow: hidden;
    display: none; }
  #round #noRound {
    display: inherit !important;
    margin-top: 40px; }
  #round img {
    display: none; }
  #round .labelGemi {
    display: none; } }

.service2Appear {
  height: auto !important;
  z-index: 2 !important;
  background: #bdc3c7 !important;
  color: white !important; }
