#price{
    #priceItems{
        .items{
            
            p{
                font-size: 16px !important;
            }
            
            .pack{
                top: 150px !important;
                text-shadow: 0 0 4px white;
                h1{
                    color: #d50000 !important;
                }
            }
            
        }
    }
}

#progress2{
    padding: 40px 80px;
    background: #e2f3ff;
    height: 704px;
    .progress2{
        position: relative;
        img{
            z-index: 3;
            height: 550px;
            position: absolute;
            margin-left: 30px;
        }
        .line{
            position: absolute;
            width: 100%;
            border-radius: 43px;
            height: 88px;
            background: white;
            padding: 10px;
            z-index: 1;
            top: 400px;
            padding-left: 130px;
            overflow: hidden;    
            h4{
                color: #0f61b0;
                margin: 5px 0;
            }
            p{
                margin: 0;
            }

        }
        .line1{
            top: 36px;
        }
        .line2{
            top: 166px;
        }
        .line3{
            top: 294px;
        }
        .line4{
            top: 432px;
        }
        .line5{
            
        }
    }
}

//footer
.swiper-container {
    width: 100%;
    height: 525px;
    
    .swiper-slide {
        background-position: center;
        background-size: cover;
    }
}

#sign{
    position: relative;
    height: 600px;
    #form{
        input{
            margin: 10px 0 !important;
            background: transparent !important;
            color: white;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:   white;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:   white;
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:   white;
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:   white;
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
           color:   white;
        }
        textarea{
            margin: 10px 0;
            background: transparent !important;
        }
        .header{
            color: white;
            h4{
                color: white !important;
                margin-top: 30px !important;
            }
            hr{
                border-top: 1px solid white;
            }
            p{
                padding: 0 5%;
            }
        }
        position: absolute;
        top: 0;
        z-index: 3;
        width: 90%;
        height: 64%;
        margin: 5%;
        background: rgba(0, 0, 0, 0.66);
        padding: 0 8%;
        .form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .formLeft{
                width: 47%;
            }
            .formRight{
                width: 47%;
            }
            button{
                width: 120px;
                margin: 20px auto;
            }
        }
    }
}

#round{
    position: relative;
    img{
        width: 911px;
        height: 911px;
        margin-bottom: 40px;
    }
    #content{
        width: 50%;
        position: absolute;
        top: 0;
        
        #contentItems{
            position: relative;
        }
        .content{
            position: absolute;
            width: 200px;
            color: white;
        }
        .content1{
            top: 120px;
            right: -94px;
        }
        .content2{
            top: 206px;
            right: -308px;
            transform: rotate(47deg);
        }
        .content3{
            top: 420px;
            transform: rotate(90deg);
            right: -400px;
        }
        .content4{
            top: 644px;
            right: -320px;
            transform: rotate(136deg);
        }
        .content5{
            top: 730px;
            right: -102px;
            transform: rotate(180deg);
        }
        .content6{
            
            top: 644px;
            right: 120px;
            transform: rotate(-136deg);
        }
        .content7{
            top: 430px;
            transform: rotate(-90deg);
            right: 210px;
        }
        .content8{
            top: 206px;
            right: 128px;
            transform: rotate(-47deg);
        }
    }//#content
    .labelGemi{
        width: 300px;
        position: absolute;
        top: 370px;
        right: -150px;
        img{
            width: 250px;
            height: auto;
            
        }
        h4{
            color: #0f61b0;
            font-size: 20px;
            line-height: 30px;
        }
    }//.labelGemi
    #noRound{
        display: none;
    }
    
}//#round


@media only screen and (max-width:991px){
    #price{
        #priceItems{
            .items{
                .pack{
                    top: 160px !important;
                }

            }
        }
    }

}
@media only screen and (max-width:768px){
    #progress2{
        padding: 40px 15px;
    }
    #round{
        img{
            width: 600px;
            height: 600px;
        }
        #content{
            #contentItems{
            }
            #noRound{
                display: none;
                margin-top: 40px;
            }
            .content{

                width: 130px;
            }
            .content1{
                top: 60px;
                right: -64px;
            }
            .content2{
                top: 118px;
                right: -199px;

            }
            .content3{
                top: 251px;
                right: -260px;
            }
            .content4{
                top: 384px;
                right: -200px;
            }
            .content5{
                top: 440px;
                right: -70px;

            }
            .content6{
                top: 390px;
                right: 70px;
            }
            .content7{
                top: 251px;
                right: 126px;
            }
            .content8{
                top: 116px;
                right: 72px;
            }
        }//#content
        .labelGemi{
            width: 300px;
            top: 210px;
            right: -150px;
            transform: scale(0.7);
            img{
                width: 250px;
                height: auto;

            }
            h4{
                color: #0f61b0;
                font-size: 20px;
                line-height: 30px;
            }
        }//.labelGemi

    }//#round
}
@media only screen and (max-width:480px){
    #sign{
        .swiper-container{
            height: 640px;
        }
        #form{
            height: 100% !important;
            .form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .formLeft{
                    width: 100% !important;
                }
                .formRight{
                    width: 100% !important;
                }
                button{
                    width: 120px;
                    margin: 20px auto;
                }
            }
        }
    }
    
    #progress2{
        .progress2{
            img{
                margin-left: 0px !important;
            }
            .line{
                padding-left: 100px;
                padding-top: 0;
                h4{
                    font-size: 16px;
                }
                p{
                    
                }
            }
        }
    }
}
@media only screen and (max-width:360px){}
@media only screen and (max-width:320px){}
@media only screen and (max-width:600px){
    #round{
        #contentItems{
            overflow: hidden;
            display: none ;
        }
        #noRound{
            display: inherit !important;
            margin-top: 40px;
        }
        img{
            display: none;
        }
        .labelGemi{
            display: none;
        }
        
    }//list
}
.service2Appear{
    height: auto !important;
    z-index: 2 !important;
    background: #bdc3c7 !important;
    color: white !important;
}