#produce{
    padding: 0 120px;
    p{
        margin-top: 60px;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 30px;
    }
}//#produce

#list{
    padding: 40px 80px;
    background: #fbfbfb;
    #listItems{
        overflow: hidden;
        .rowItems{
            position: relative;
            color: white;
            h5{
                font-size: 16px;
                margin-bottom: 10px;
            }
            p{
                font-size: 13px;
            }
            img{
//                width: 100%;
                height: 100%;
            }
            .itemsLeft{
                float:left;
                position: relative;
                .content{
                    position: absolute;
                    padding: 40px 40px 0 250px;
                    top: 0;
                } 
            }
            
            .itemsRight{
                position: relative;
                float: right;
                .content{
                    position: absolute;
                    padding: 40px 250px 0 60px;
                    top: 0;
                }
            }
            .items{
                height: 150px;
            }
            
        }
    }
}
.header{
    position: relative;
    h4{
        color: #0f61b0;
        font-size: 22px;
        margin-top: 40px;
    }
    hr{
        width: 100px;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-top: 1px solid #0f61b0;
        
    }
    p{
        padding: 0 150px;
        margin-top: 30px;
    }
}//.header

#progress{
    padding: 40px 80px;
    .progressItems{
        margin-top: 40px;
        position: relative;
        .items{
            .number{
                position: absolute;
                top: 6px;
                left: 30px;
            }
            .number1{
                color: #e64865;
            }
            
            .number2{
                color: #708da9;
            }
            
            .number3{
                color: #e3874b;
            }
            
            .number4{
                color: #e238ba;
            }
            
            .number5{
                color: #4be3c6;
            }
            
            .number6{
                color: #e34b67;
            }
            
            .number7{
                color: #3857e2;
            }
            .number8{
                color:#ab38e2;
            }
            margin-bottom: 40px;
            position: relative;
            img{
                width: 100%;
                height: 110px;
            }
            .content{
                position: absolute;
                
                top: 0;
                padding-top: 2px;
                padding-left: 200px;
                padding-right: 20px;
            }
        }//.items
    }//.progressItems
}
.list-type3{
    margin:0 30px;
    width:auto;
    ol{
        list-style: none;
    }
    li,a{
        text-align: center;
        display: block;
        height:auto;
        line-height:35px;
        position:relative;
        font-size:15px;
        margin-bottom: 12px;
        font-family: 'Raleway', sans-serif;
        transition: background-color 1.5s ease;
    }
    a{
        padding:0 12px 0 12px;
        background:#0089e0;
        color:#fff;
        text-decoration:none;
        -moz-border-radius-bottomright:4px;
        -webkit-border-bottom-right-radius:4px;
        border-bottom-right-radius:4px;
        -moz-border-radius-topright:4px;
        -webkit-border-top-right-radius:4px;
        border-top-right-radius:4px;
    }
    a:before{
        content:"";
        float:left;
        position:absolute;
        top:0;
        left:-12px;
        width:0;
        height:100%;
        border-color:transparent #0089e0 transparent transparent;
        border-style:solid;
        border-width: 18px 12px 18px 0;
    }
    a:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        float: left;
        width: 6px;
        height: 6px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
        -moz-box-shadow: -1px -1px 2px #004977;
        -webkit-box-shadow: -1px -1px 2px #004977;
        box-shadow: -1px -1px 2px #004977;
        transform: translateY(-50%);
    }
    a:hover{
        background:#555;
    }
    a:hover{
        border-color:transparent #0089e0 transparent transparent;
    }

}
#price{
    padding: 40px 80px;
    #priceItems{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .items{
            width: 47%;
            position: relative;
            margin-bottom: 40px;
            .pack{
                position: absolute;
                top:160px;
                color: #1265b6;
                h2{
                    font-size: 25px ;
                    text-shadow: 0px 0px 4px white;
                }
            }
            img{
                width: 100%;
                height: 309px;
            }
            .content{
                position: absolute;
                color: white;
                top: 165px;
                width: 58%;
                
                p{
                    font-size: 12px;
                    
                }
                h5{
                    color: #effe00;
                    span{
                        font-size: 18px;
                    }
                }
            }
        }//.items
        .itemsLeft{
            .pack{
                text-align: left;
                left: 10px;
            }
            .content{
                right: 5px;
            }
        }
        .itemsRight{
            .pack{
                right: 10px;
                text-align: right;
            }
            .content{
                left: 5px;
            }
        }
    }//#priceItems
}//#price
#projectsDone{
    background: url(../images/projectsBackground.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 40px 80px 80px 80px;
    position: relative;
    #moreButton{
        a{
            display: block !important;
            text-decoration: none;
        }
        b{
            font-size: 22px;
            color: #337ab7;
        }
        position: absolute;
        left: 0;
        right: -11px;
        bottom: 10px;
        transform: translateX(-12px);
    }
    .projectsItems{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        .items{
            width: 23%;
            margin-bottom: 20px;
            img{
                border: 1px solid #d7d7d7;
                padding: 2px;
                width: 100%;
            }
            a{
            }
        }
    }
}//#projectsDone

#why{
    #noPerson{
        display: none;
    }
    #person{    
        position: relative;
        height: 640px;
        .background{
            position: absolute;
            width: 100%;
            
            img{
                width: 100%;
                height: 600px;
                
            }
        }//.background
        .list{
            display: flex;
            flex-wrap: wrap;
            .listItems{
                width: 50%;
                
            }
            .listLeft{
                
                position: relative;
                p{
                    text-align: right;
                    position: relative;
                    img{
                        position: absolute;
                        right:-50px;
                        bottom: -8px;
                    }
                }
                .list1{
                    position: absolute;
                    top: 140px;
                    right: 180px;
                }
                .list2{
                    position: absolute;    
                    top: 230px;
                    right: 240px;
                }
                .list3{
                    position: absolute;    
                    top: 320px;
                    right: 260px;    
                }
                .list4{
                    position: absolute;  
                    top: 410px;
                    right: 240px;
                }
                .list5{
                    position: absolute;   
                    top: 500px;
                    right: 180px;
                }
                
            }
            .listRight{
                position: relative;
                p{
                    position: relative;
                    text-align: left;
                    img{
                        position: absolute;
                        bottom: -8px;
                        left: -50px;
                    }
                }
                .list1{
                    position: absolute;
                    top: 140px;
                    left: 180px;
                }
                .list2{
                    position: absolute;
                    top: 230px;
                    left: 240px;
                }
                .list3{
                    position: absolute;
                    top: 320px;
                    left: 260px
                }
                .list4{
                    position: absolute;
                    top: 410px;
                    left: 240px;
                }
                .list5{
                    position: absolute;
                    top: 500px;
                    left: 180px;
                }
                
            }
            
        }
    }//#person
}//#why
@media only screen and (max-width:991px){
    #progress{
        .progressItems{
            
            .items{
                .number{
                    left: 10px;
                }
                img{

                }
                .content{
                    padding-left: 140px;
                }
            }//.items
        }//.progressItems
    }
    #price{
        #priceItems{
            .items{
                width: 49%;
                img{
                    height: 315px;
                }
                .content{
                    top: 155px;
                   
                }
                .pack{
                    top: 175px;
                    h2{
                        font-size: 20px;
                    }
                    h1{
                        font-size: 24px;
                    }
                }
            }itemsLeft{
                
            }
            .itemsRight{
                
            }
        }//#priceItems
    }//#price
    
}
@media only screen and (max-width:768px){
    #why{
        #person{
            overflow: hidden;
            display: none;
        }
        #noPerson{
            display: inherit;
            margin-top: 40px;
        }
    }//list
    #price{
        padding: 40px 15px;
        #priceItems{
            .items{
                img{
                }
                .content{
                    top: 145px;
                   
                }
                .pack{

                }
            }itemsLeft{
                
            }
            .itemsRight{
                
            }
        }//#priceItems
    }//#price
    #projectsDone{
        padding: 40px 15px;
        .projectsItems{
            .items{
                
            }
        }
    }
    #produce{
        padding: 0 15px;
        img{
            width: 100%;
        }
        p{
            padding: 0 50px;
            letter-spacing: 1px;
            line-height: 25px;
        }
        
    }
    #list{
        
        padding: 40px 15px !important;
        #listItems{
            .rowItems{
                .items{
                    img{
                        height: 120px;
                    }
                }
                .itemsLeft{
                    .content{
                        padding:  30px 0px 0px 200px !important;
                    }
                }
                .itemsRight{
                    .content{
                        padding: 30px 160px 0px 50px!important;
                    }
                }
            }
        }
    }//#list
    
     #progress{
        padding: 40px 15px !important;
        .progressItems{
            .items{
                .number{
                    top: 23px ;
                }
                img{
                    height: 150px;
                }
                .content{
                    h4{
                        padding-left: 0 !important;
                        height: auto !important;
                    }
                    padding-left: 100px !important;
                }
            }//.items
        }//.progressItems
    }
}
@media only screen and (max-width:480px){
    .header{
        p{
            padding: 0 30px;
            line-height: 22px;
            letter-spacing: 1px;
        }
    }
    
    #price{
        #priceItems{
            margin-top: 40px;
            .items{
                width: 100%;
                img{
                }
                .content{
                   
                }
                .pack{

                }
            }itemsLeft{
                
            }
            .itemsRight{
                
            }
        }//#priceItems
    }//#price
    #projectsDone{
        .projectsItems{
            .items{
                width: 45%;
            }
        }
    }
    #header{
        img{
            height: 200px;
        }
    }
    #list{
        #listItems{
            .rowItems{
                .items{
                    img{
                        height: 120px;
                        width: 100%;
                    }
                }
                .itemsLeft{
                    .content{
                        padding-left: 170px !important;
                    }
                }
                .itemsRight{
                    .content{
                        padding-left: 35px !important;
                    }
                }
            }
        }
    }//#list
    #progress{
        padding: 0 15px;
        .progressItems{
            .items{
                .number{
                    top: 23px ;
                    left: 0;
                }
                img{
                    height: 160px;
                    
                }
                .content{
                    h4{
                    }
                }
            }//.items
        }//.progressItems
    }//#progress
    
    
    
}
@media only screen and (max-width:360px){
    #price{
        #priceItems{
            margin-top: 40px;
            .items{
                width: 100%;
                img{
                    height: 330px
                }
                .content{
                   
                }
                .pack{
                    h2{
                        font-size: 18px;
                    }
                }
            }itemsLeft{
                
            }
            .itemsRight{
                
            }
        }//#priceItems
    }//#price
    #projectsDone{
        .projectsItems{
            .items{
                width: 100%;
            }
        }
    }
    #list{
        #listItems{
            .rowItems{
                .items{
                    img{
                        height: 140px;
                        width: 100%;
                    }
                }
                .itemsLeft{
                    .content{
                        padding-left: 130px !important;
                    }
                }
                .itemsRight{
                    .content{
                        padding-right: 120px !important;
                        padding-left: 25px !important;
                    }
                }
            }
        }
    }
    #progress{
        padding: 0 15px;
        .progressItems{
            .items{
                .number{
                    top: 43px ;
                    left: -8px;
                }
                img{
                    height: 190px;
                    
                }
                .content{
                    padding-left: 55px !important;
                    h4{
                    }
                }
            }//.items
        }//.progressItems
    }//#progress
}

@media only screen and (max-width:320px){
    #price{
        #priceItems{
            margin-top: 40px;
            .items{
                width: 100%;
                img{
                    height: 350px
                }

                .pack{
                    h2{
                        font-size: 18px;
                    }
                }
            }
        }//#priceItems
    }//#price
    
    #produce{
        p{
            padding: 0 0 !important;
        }
    }
    #list{
        #listItems{
            .rowItems{
                .items{
                    img{
                        height: 150px;
                        width: 100%;
                    }
                }
                .itemsLeft{
                    .content{
                        padding-left: 110px !important;
                    }
                }
                .itemsRight{
                    .content{
                        padding-right: 100px !important;
                        padding-left: 25px !important;
                    }
                }
            }
        }
    }
    #progress{
        .progressItems{
            .items{
                .number{
                    top: 53px ;
                }
                img{
                    height: 220px;
                    
                }
            }//.items
        }//.progressItems
    }//#progress
}
