#comment{
    background: rgb(89, 172, 231);
    color: white;
    font-family: Roboto;
    font-weight: 300;
    .size{
        padding: 0 !important;
        .swiper-container{
            padding-top: 15px;
            height: auto !important;
        }
    }
    p{
    font-size: 24px !important;
    line-height: 36px !important;
    }    
    .info{
        text-align: center;
        img{
            float: none !important;
        }
    }
}
#commitment{
    padding: 50px 10%;
    font-family: Roboto !important;
    h1{
        font-weight: 200;
        font-size: 54px;
        color: #1d5184;
        margin-bottom: 50px;
    }
    p{
        font-size: 21px;
        line-height: 28px;
        font-weight: 300;
    }
}

.frame{
    .size{
        flex-wrap: wrap;
        justify-content: space-between;
        .items{
            width: 32%;
        }
    }
}
#services{
    .size{
        .items{
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 40px;
            .inside{
                padding: 20px;
            }
            a{
                color: white !important;
            }
            img{
                padding: 0 10%;
                width: 100%;
            }h4{
                margin: 0;
                padding: 30px 20px;
            }
            
        }
        .items1{
            .inside{
                background: rgb(27, 75, 111);
            }
            h4{
                background: rgb(23, 72, 109);

            }
        }
        .items2{
            .inside{
                background: rgb(243, 172, 52);
            }
            h4{
                background: rgb(239, 164, 53);
            }
        }
        .items3{
            .inside{
                background: rgb(142, 162, 32);
            }   
            h4{
                background: rgb(142, 162, 32);
            }
        }
        .items4{
            .inside{
                background:rgb(45, 110, 180);
            }   
            h4{
                background: rgb(44, 99, 162);
            }
        }
        .items5{
            .inside{
                background:rgb(210, 50, 30);
            }   
            h4{
                background:rgb(205, 39, 33);
            }
        }
        .items6{
            .inside{
                background:rgb(35, 163, 169);
            }   
            h4{
                background: rgb(25, 153, 159);
            }
        }
        
    }
}
#service{
    padding: 40px 0;
    font-family: Roboto;
    background-color: rgb(42, 67, 87);
    background-image: url(http://gemimedia.com/wp-content/uploads/pattern-shattered-transparent-contrast-low.png);
    .button{
        margin-bottom: 20px;
        margin-top: 50px;
        button{
            border: none;
            color: white;
            font-size: 24px;
            padding: 10px 24px;
            font-family: Roboto;
            margin: 10px 10px;
            font-weight: 300;
            span{
                padding-right: 10px;
            }
        }
        .blue{
            background: rgb(42, 160, 239);
        }
        .blue:hover{
            background: #4b7bc2;
        }
        .orange{
            background: rgb(255, 165, 0);
        }
        .orange:hover{
            background: rgb(255, 110, 0);
            
        }
    }
    .size{
        padding: 0;
        .items{
            margin: 40px 0;
            .icon{
                background: rgb(96, 120, 139);
                color: white;
                border: none;
                border-radius: 25px;
                span{
                    font-size: 38px;
                    height: 50px;
                    line-height: 50px;
                }
                border-color: white !important;
            }
            .content{
                h4{
                    a{
                        color: white;
                        line-height: 27px;
                        font-size: 24px;
                        font-weight: 300;
                    }
                }
                p{
                    color: rgb(179, 199, 216);
                    font-weight: 300;
                    font-size: 17px;

                }
                button{
                    a{
                        color: white;
                    }
                    border-color: rgb(179, 199, 216);
                    background: transparent;
                    font-size: 13px;
                    padding: 11px 17px;
                }
            }
        }
    }
    
}

#projects{
    background-color: #2a4357 !important;
    background-image: url(http://gemimedia.com/wp-content/uploads/pattern-shattered-transparent-contrast-low.png) !important;
    .swiper-container{
        padding-top: 100px !important;
        .swiper-slide{
            background: white;
            h5{
                padding: 0 20px;
            }
            p{
                padding: 0 20px;
            }
        }
    }
    .swiper-button-next-2{
        background: transparent !important;
        border: 1px solid rgba(170, 170, 170, 0.28) !important;
        color:rgba(196, 196, 196, 0.68) !important;
        height: 40px !important;
        width: 40px !important;
        line-height: 40px !important;
        top: 30px !important;
    }
    
    .swiper-button-prev-2{
        background: transparent !important;
        border: 1px solid rgba(170, 170, 170, 0.28) !important;
        color:rgba(196, 196, 196, 0.68) !important;
        height: 40px !important;
        width: 40px !important;
        line-height: 40px !important;
        top:  30px !important;
        right: 60px !important;
    }
}
#missions{
    font-family: Roboto;
    .size{
        .items{
            .icon{
                height: 80px;
                width: 80px;
                border-radius: 25px;
                span{
                    line-height: 60px;
                }
            }
            .call{
                span{
                    color: #BE73DD !important;
                }
                border-color: #F6DFFF;
            }
            
            .engage{
                span{
                    color: rgb(243, 152, 97) !important;
                }
                border-color: rgba(243, 122, 49, 0.21);
            }
            
            .inspire{
                span{
                    color: rgb(26, 186, 186) !important;
                }
                border-color: rgba(26, 186, 186, 0.27);
            }
        }
        .content{
            padding-left: 100px;
            h4{
                color: #3d3d3d;
                font-size: 27px;
                font-weight: 300;
                line-height: 30px;
            }
            h6{
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
            }
        }
        
        .commit{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            .left,.right{
                width: 48%;
                font-weight: 300;
                font-size: 17px;
                line-height: 27px;
            }

        }
    }
}
@media only screen and (max-width:991px){}
@media only screen and (max-width:768px){
}
@media only screen and (max-width:480px){
    #comment{
        .swiper-container{
            .info{
                text-align: center;
                img{
                    float: none;
                }
            }
        }
    }
    #services{
        .size{
            width: 100% !important;
            padding-bottom: 0;
            .items{
                margin-bottom: 0;
            }
        }
        
    }

    #missions{
        .size{
            .items{
                margin-bottom: 20px;
                .icon{
                    width: 60px !important;
                    height: 60px !important;
                    span{
                        line-height: 50px;
                        font-size: 25px !important;
                    }
                }
            }
        }
    }
    .frame{
        .size{
            .items{
                width: 100%;
            }
        }
    }
    #service{
        .size{
            .items{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width:360px){}
@media only screen and (max-width:320px){}